Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

feat(macos): add Finder double-click → Neovim launcher .app
  Makefile
  README.md
  macos/OpenInNeovim.applescript
  macos/icons/OpenInNeovim.png
Due: markdownlint

lazy update
  nvim/lazy-lock.json
Due: jsonlint

docs(readme): mirror macos-app setup step in English section
  README.md
Due: markdownlint

chore(coderabbit): add config to localize reviews to Japanese
  .coderabbit.yaml
Due: none

chore(coderabbit): enable auto review and skip drafts explicitly
  .coderabbit.yaml
Due: none

add rust path in zsh
  zsh/.zshrc
Due: none

fix: rename rustup-init to rustup in Brewfile
  homebrew/Brewfile
Due: none

chore(nvim): add rust_analyzer to mason ensure_installed
  nvim/lua/extensions/mason.lua
Due: none

fix(zsh): .zshenv を make link 対象に追加し内部バグを修正
  Makefile
  zsh/.zshenv
Due: none

fix(nvim): treesitter を master(classic) に固定し highlight/indent/選択拡張を復活
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-treesitter.lua
Due: jsonlint

fix(nvim): neo-tree の <bs> を無効化し delete キーでルートが上階層へ移動しないようにする
  nvim/lua/extensions/neo-tree.lua
Due: none

fix(homebrew): WezTerm を nightly cask に移行
  homebrew/Brewfile
Due: none

fix(wezterm): nightly の get_current_working_dir API 変更に対応
  wezterm/status.lua
Due: none

fix(macos): WezTerm の PressAndHold を無効化し長押し後の文字入力フリーズを回避
  Makefile
  README.md
  macos/defaults.sh
  wezterm/wezterm.lua
Due: markdownlint

fix(wezterm): status.lua の時刻アイコン色の不正な16進数 #bzbabe を #b2babe に修正
  wezterm/status.lua
Due: none

fix(claude): instruction-compliance フックの fail-closed による誤ブロックを解消
  claude/hooks/check_instruction_compliance.sh
Due: none

fix(make): .PHONY の空展開を修正し brew-add をトランザクショナルに
  Makefile
Due: none

chore(nvim): lazy.nvim 移行前の旧設定 lua/tmp/ (14ファイル) を削除
  nvim/lua/tmp/comment.lua
  nvim/lua/tmp/copilot.lua
  nvim/lua/tmp/fidget.lua
  nvim/lua/tmp/init.lua
  nvim/lua/tmp/mason.lua
  nvim/lua/tmp/noice.lua
  nvim/lua/tmp/nvim-lspconfig.lua
  nvim/lua/tmp/nvim-navbuddy.lua
  nvim/lua/tmp/nvim-navic.lua
  nvim/lua/tmp/nvim-notify.lua
  nvim/lua/tmp/nvim-tree-actions.lua
  nvim/lua/tmp/telescope-all-recent.lua
  nvim/lua/tmp/telescope.lua
  nvim/lua/tmp/trouble.lua
Due: none

chore: 全行コメントアウトで機能していない git-hooks/pre-push を削除
  CLAUDE.md
  Makefile
  git-hooks/pre-push
Due: markdownlint

fix(nvim): rust_analyzer に lspconfig 設定を追加し capabilities を付与
  nvim/lua/extensions/lspconfig.lua
Due: none

chore(nvim): 未宣言プラグイン依存の Copilot 連携 dead code を削除
  nvim/lua/extensions/nvim-cmp-actions.lua
  nvim/lua/extensions/nvim-cmp.lua
Due: none

refactor(nvim): deprecated な nvim_set_option 系 API を vim.opt / vim.bo に移行
  nvim/lua/extensions/lualine.lua
  nvim/lua/options.lua
Due: none

fix(zsh): Brewfile と実環境の不整合を解消 (rbenv/openjdk/imagemagick@6/antigen)
  nvim/lua/extensions/conform.lua
  zsh/.zshrc
Due: none

chore(wezterm): 発火経路を失った mousebinds.lua / event.lua 一式を削除
  wezterm/event.lua
  wezterm/mousebinds.lua
  wezterm/wezterm.lua
Due: none

docs(nvim): ruby-lsp-setup.md のキー記載を実装に合わせて修正
  docs/nvim/ruby-lsp-setup.md
Due: markdownlint

docs: CHEATSHEET のキーバインド同期漏れ・誤記を修正
  docs/CHEATSHEET.md
Due: markdownlint

chore(nvim): 軽微な dead code / no-op 設定 / タイポを一括整理
  nvim/init.lua
  nvim/lua/extensions/gitsigns.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/lualine.lua
  nvim/lua/extensions/mason.lua
  nvim/lua/extensions/telescope.lua
  nvim/snippets/all.json
Due: jsonlint

chore(wezterm): 未使用アセット nerve.jpg (121KB) とコメントアウト済み背景コードを削除
  wezterm/background.lua
  wezterm/nerve.jpg
Due: none

chore(zsh): 陳腐化した設定を整理し PATH を .zshenv に集約
  Makefile
  zsh/.zprofile
  zsh/.zshenv
  zsh/.zshrc
Due: none

chore: 設定衛生の軽微な問題を一括修正
  .gitignore
  claude/statusline-command.sh
  homebrew/Brewfile
  selene.toml
Due: none

fix(claude): claude -p 呼び出しに 30s タイムアウトを追加しハング時も fail-open
  claude/hooks/check_instruction_compliance.sh
Due: none

docs: <C-t> のツリー内挙動をファイル選択時のフォールバック込みで正確に記載
  docs/CHEATSHEET.md
Due: markdownlint

Makefile リファクタ: link の broken symlink 防止と brew-add の重複解消
  Makefile
Due: none

zsh・シェルスクリプトの修正
  claude/hooks/check_instruction_compliance.sh
  claude/statusline-command.sh
  macos/defaults.sh
  zsh/.zshenv
  zsh/.zshrc
Due: none
