Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

docs: WezTermチートシートにタブ操作セクションを追加
  docs/CHEATSHEET.md
Due: markdownlint

feat: タブ番号切り替え(ActivateTab)キーバインドを削除
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
Due: markdownlint

lazy updateとclaudemdのignore
  .gitignore
  nvim/lazy-lock.json
Due: jsonlint

fix: claude/CLAUDE.mdをgitトラッキングから除外
  claude/CLAUDE.md
Due: markdownlint

feat: Visual/SelectモードでTab/Shift-Tabによるインデント操作を追加
  nvim/lua/extensions/nvim-cmp.lua
  nvim/lua/keybinds.lua
Due: none

ペインサイズ調整幅を横移動の時のみ5%に変更
  wezterm/keybinds.lua
Due: none

docs: チートシートにWezTermフルスクリーントグルを追加
  docs/CHEATSHEET.md
Due: markdownlint

feat: Claude Code worktreeセッション復元用zsh関数を追加
  zsh/.zshrc
  zsh/claude-worktree-resume.zsh
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

Lazy update
  nvim/lazy-lock.json
Due: jsonlint

fix: Neovim modeline機能を無効化（セキュリティ予防措置）
  nvim/lua/options.lua
Due: none

refactor: セルフレビューチェックリストを3ファイルに分割しディレクトリ化
  .gitignore
  Makefile
  README.md
Due: markdownlint

feat: dotfilesリポジトリ専用のCLAUDE.mdを追加
  CLAUDE.md
Due: markdownlint

feat: Claude Code Skills用のディレクトリを.gitignoreに追加
  .gitignore
Due: none

fix: Claude Code Skillsの出力先をプロジェクトルールに応じて柔軟に変更
  .gitignore
Due: none

docs: Claude Code Skillsの開発ワークフローガイドを追加
  docs/SKILLS_WORKFLOW.md
Due: markdownlint

fix: Claude Code skillsのシンボリックリンクを追加
  Makefile
Due: none

fix: Neovimのマウス操作を完全に無効化
  nvim/lua/options.lua
Due: none

docs: チートシートにquickfixリストを閉じるコマンドを追記
  docs/CHEATSHEET.md
Due: markdownlint

fix: MarkdownPreviewToggleが1回目のキー押下で動作しない問題を修正
  nvim/lua/extensions/init.lua
Due: none

refactor: pecoからfzfへ移行
  homebrew/Brewfile
  zsh/.zshrc
Due: none

feat: claude worktreeセッションをfzfで復元する関数を追加
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

feat: WezTerm内でのターミナルブラウザ・Markdownプレビュー機能を追加
  Makefile
  docs/CHEATSHEET.md
  homebrew/Brewfile
  wezterm/keybinds.lua
  zsh/.zshrc
Due: markdownlint

fix: Carbonylインストールの不具合を修正
  Makefile
  zsh/.zshrc
Due: none

chore: 設定ファイルの更新とclaude設定のignore追加
  .gitignore
  homebrew/Brewfile
  nvim/lazy-lock.json
  wezterm/background.lua
Due: jsonlint

Fix .gitignore to include .zsh_sessions
  .gitignore
Due: none

lazy updat
  nvim/lazy-lock.json
Due: jsonlint

feat: lazy.nvim 操作用のキーバインドを追加
  docs/CHEATSHEET.md
  nvim/lua/keybinds.lua
Due: markdownlint

feat(wezterm): タブ名を ghq 配下のリポジトリ名で表示
  wezterm/format.lua
Due: none

fix(wezterm): format.lua をモジュール化して既存タブスタイルに repo 名表示を統合
  wezterm/format.lua
  wezterm/wezterm.lua
Due: none

背景画像有効化
  wezterm/background.lua
Due: none

lazy updatとBrewfileの更新
  homebrew/Brewfile
  nvim/lazy-lock.json
Due: jsonlint

feat(nvim): エディター本体だけダークグレーに
  nvim/lua/extensions/vscode-theme.lua
Due: none

背景透過率の調整
  wezterm/background.lua
Due: none

wezterm backgroundのhorizontal_offsetを削除
  wezterm/background.lua
Due: none

weztermのwindowの幅調整を上下方向も1回5%に変更
  wezterm/keybinds.lua
Due: none

画像透過率を調整
  wezterm/background.lua
Due: none
