Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

Brewfileを統一。brewで新規ツールを追加してからBrewfileへの反映を楽にするためのMakeコマンドの追加
  Makefile
  homebrew/Brewfile
  homebrew/Brewfile.common
  homebrew/Brewfile.personal
  homebrew/Brewfile.work
Due: none

Formatterツールの導入
  homebrew/Brewfile
  nvim/lua/extensions/conform.lua
  nvim/lua/extensions/init.lua
Due: none

lazy-lockの更新
  nvim/lazy-lock.json
Due: jsonlint

末尾改行ファイルの修正と、自動で修正してくれる機能の実装
  .pre-commit-config.yaml
  flipper/settings.json
  mise/config.toml
  nvim/lua/keybinds.lua
  nvim/lua/options.lua
  nvim/selene.toml
Due: jsonlint

diagnosticsの表示に関するコマンドを追加
  nvim/lua/keybinds.lua
Due: none

README.mdの更新
  README.md
Due: markdownlint

gitdiffレビュープラグインと、マークダウン可視化のプラグインを追加
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
Due: jsonlint

セルフレビューチェックリストを生成するセットアップコマンドを作成して、README.mdに追記。,ff検索でgitignoreファイルを結果に出せるように修正
  Makefile
  README.md
  nvim/lua/extensions/telescope.lua
Due: markdownlint

lazy update
  nvim/lazy-lock.json
Due: jsonlint

nvimプラグインの設定ファイルを分割
  nvim/lua/appearance.lua
  nvim/lua/extensions/diffview.lua
  nvim/lua/extensions/gitsigns.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/markdown-preview.lua
  nvim/lua/extensions/nvim-treesitter.lua
  nvim/lua/extensions/toggleterm.lua
Due: none

nvimプラグイン追加
  nvim/lazy-lock.json
  nvim/lua/extensions/accelerated-jk.lua
  nvim/lua/extensions/dropbar.lua
  nvim/lua/extensions/hlchunk.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/namu.lua
  nvim/lua/extensions/nvim-ufo.lua
  nvim/lua/extensions/treesitter-context.lua
  nvim/lua/extensions/vim-doge.lua
Due: jsonlint

lsp関連のプラグインの設定を追加
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/lspconfig.lua
  nvim/lua/extensions/mason.lua
Due: jsonlint

rubyのglobalバージョンをデフォの2系ではなく3系に設定
  mise/config.toml
Due: none

コンフリクト解消のためのnvimプラグインを追加
  nvim/lazy-lock.json
  nvim/lua/extensions/git-conflict.lua
  nvim/lua/extensions/init.lua
Due: jsonlint

キーバインドの設定更新と、コマンドチートシートの作成
  docs/CHEATSHEET.md
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/telescope.lua
  nvim/lua/keybinds.lua
Due: markdownlint

ウィンドウ移動カスタムキーの削除(プラグインのコマンドと干渉するのと、デフォルトコマンドで十分だから)
  docs/CHEATSHEET.md
  nvim/lua/keybinds.lua
Due: markdownlint

pnpm等一部ツールをmise管理に変更。readmeにhomebrewとの使い分けについて追記
  README.md
  homebrew/Brewfile
  mise/config.toml
Due: markdownlint

ファイルパスをコピーするコマンドを追加
  docs/CHEATSHEET.md
  nvim/lazy-lock.json
  nvim/lua/keybinds.lua
Due: jsonlint, markdownlint

相対パスのコピーコマンドが絶対パスになっていたので修正
  nvim/lazy-lock.json
  nvim/lua/keybinds.lua
Due: jsonlint

Brewfileにコメントを追記
  homebrew/Brewfile
Due: none

weztermの背景画像が絶対パスでしか反映されず、別端末だとユーザーが異なり表示されないので、環境変数を使用する形に変更
  wezterm/background.lua
Due: none

nvimのffコマンドでドットから始まるファイルが検索結果に表示されるように修正
  nvim/lazy-lock.json
  nvim/lua/extensions/telescope.lua
Due: jsonlint

add: .gitconfigをdotfilesで管理
  .gitignore
  Makefile
  git/.gitconfig
Due: none

feat: nvimターミナルの表示位置を右側に変更
  nvim/lua/extensions/toggleterm.lua
Due: none

fix: neo-treeがフォーカス復帰時に自動で開く問題を修正
  nvim/lua/extensions/neo-tree.lua
Due: none

add: BrewfileにGitHub CLI (gh)を追加
  homebrew/Brewfile
Due: none

nwコマンドの追加
  nvim/lazy-lock.json
  nvim/lua/keybinds.lua
  wezterm/background.lua
Due: jsonlint

nwコマンドをチートシートに追加
  docs/CHEATSHEET.md
Due: markdownlint

fix: MD025ルール（複数トップレベル見出し）を無効化
  .markdownlint.json
Due: jsonlint

add: MakefileにmarkdownlintのシンボリックリンクをLINKSに追加
  Makefile
Due: none

fix: nvim-lintでmarkdownlint設定を直接参照するように修正
  Makefile
  nvim/lua/extensions/nvim-lint.lua
Due: none

chore: コメントから不要な説明を削除
  nvim/lua/extensions/nvim-lint.lua
Due: none

fix: :qコマンドでneo-treeが残る問題を修正
  nvim/lua/extensions/neo-tree.lua
Due: none

MD024を無視
  .markdownlint.json
Due: jsonlint

feat: typosスペルチェッカーを導入
  .pre-commit-config.yaml
  .typos.toml
  README.md
  homebrew/Brewfile
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-lint.lua
Due: markdownlint
