Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

feat(claude): 指示外検出フックに手動無効化とfableモデルスキップを追加
  .gitignore
  claude/hooks/check_instruction_compliance.sh
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

fix: マウス選択によるクリップボードの意図しない上書きを防止
  docs/CHEATSHEET.md
  tmux/tmux.conf
  wezterm/wezterm.lua
Due: markdownlint

fix: macOSではPrimarySelectionでもクリップボードが上書きされるため選択時コピー自体を無効化
  wezterm/wezterm.lua
Due: none

feat: self-reviewフックをリマインドからブロック型ゲートに変更
  claude/hooks/self_review_reminder.sh
Due: none

fix: レビュー指摘対応（グローバルオプション検知・touch指示削除）
  claude/hooks/self_review_reminder.sh
Due: none

lazy update and update claude setting
  .gitignore
  nvim/lazy-lock.json
Due: jsonlint

fix: コピーモードのEnterをコピーなしのcancelに変更しクリップボード上書きを防止
  docs/CHEATSHEET.md
  tmux/tmux.conf
Due: markdownlint

nvim: 競プロ用Rustスニペット cpmain を追加
  nvim/snippets/package.json
  nvim/snippets/rust.json
Due: jsonlint

nvim: LSP診断をvirtual_linesに変更し画面分割時の見切れを解消
  nvim/lua/extensions/lspconfig.lua
Due: none

feat: docker compose 用の abbreviation dc を追加
  zsh/.zshrc
Due: none

feat: ジャンプリスト移動を <leader>o / <leader>i に割り当て
  docs/CHEATSHEET.md
  nvim/lua/keybinds.lua
Due: markdownlint

fix: README の zsh 設定ファイル記載を .zprofile から .zshenv に修正
  README.md
Due: markdownlint
