Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

jsonlint:
  name: jsonlint (json linter)
  entry: jsonlint
  language: system

markdownlint:
  name: markdownlint (markdown linter)
  entry: markdownlint
  language: system

fix: Makefile LINKS に claude.json を追加し CLAUDE.md のリンク一覧を実体に合わせる
  CLAUDE.md
  Makefile
Due: markdownlint

fix(wezterm): 背景透過トグルの初期値を 0.85 に揃え、リロード時のリセットを防ぐ
  docs/CHEATSHEET.md
  wezterm/background.lua
  wezterm/wezterm.lua
Due: markdownlint

fix(nvim): lualine diagnostics の LSP 診断二重カウントを解消
  nvim/lua/extensions/lualine.lua
Due: none

fix(nvim): zsh バッファの linter/formatter を shellcheck/shfmt から見直す
  nvim/lua/extensions/conform.lua
  nvim/lua/extensions/nvim-lint.lua
Due: none

fix(nvim): gitsigns の非推奨 API と無効な設定キーを整理
  nvim/lua/extensions/gitsigns.lua
Due: none

fix(nvim): LSP 診断の virtual text を virtual_lines (current_line) に切り替え
  nvim/lua/extensions/lspconfig.lua
Due: none

fix(nvim): キーバインドの衝突・上書きを整理
  docs/CHEATSHEET.md
  nvim/lua/extensions/neo-tree.lua
  nvim/lua/keybinds.lua
Due: markdownlint

docs: CHEATSHEET の WezTerm ズームキー誤記を修正し未記載キーバインドを追記
  docs/CHEATSHEET.md
Due: markdownlint

docs: README の claude/ 説明と Contents / Make コマンド表を実態に合わせる
  README.md
Due: markdownlint

fix(claude): hooks の jq -r 欠落・grep 誤検知・cwd 依存・バックアップ堆積を修正
  claude/hooks/check_instruction_compliance.sh
  claude/hooks/restore_settings_symlink.sh
  claude/hooks/self_review_reminder.sh
  claude/statusline-command.sh
Due: none

fix(zsh): .zshrc の BSD sed 非互換・デッドコード・存在チェック漏れを修正
  zsh/.zshrc
Due: none

fix(nvim): lazy.nvim 定義・bigfile キャッシュ・markdownlint パス等の軽微な問題を修正
  nvim/lua/bigfile.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-lint.lua
  nvim/lua/keybinds.lua
Due: none

refactor(wezterm/starship): 重複定義・コピペ・デッド設定を整理
  starship.toml
  wezterm/format.lua
  wezterm/keybinds.lua
  wezterm/status.lua
Due: none

fix(selene): vim 用 std を定義して undefined_variable 等の主要 lint を有効化
  selene.toml
  vim.yml
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

update brewfile
  homebrew/Brewfile
Due: none

feat: mise に bun を追加
  mise/config.toml
Due: none

feat: Vite+ の環境設定を zsh で読み込む
  zsh/.zshenv
  zsh/.zshrc
Due: none

GitHub の複数アカウントを使い分けられるようにする
  .gitignore
  Makefile
  git/.gitconfig
  ssh/config
Due: none

make link でリンク先の実ファイル・ディレクトリを上書きしない
  Makefile
Due: none

make link でリンク先の実ファイルは止めずに退避してからリンクする
  Makefile
Due: none

chore: セルフレビュー強制フック (self_review_reminder.sh) を削除
  claude/hooks/self_review_reminder.sh
Due: none

feat: add Codex agent instructions
  AGENTS.md
  Makefile
  README.md
Due: markdownlint

fix: link Codex instructions from tracked file
  Makefile
Due: none

feat: select Claude or Codex with c
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

fix: hide unavailable AI CLIs
  zsh/.zshrc
Due: none

chore: manage Codex config via dotfiles
  Makefile
  codex/config.toml
Due: none

fix: separate Codex profile from local config
  Makefile
  codex/dotfiles.config.toml
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

feat: replace Makefile with mise tasks
  .github/workflows/macos-smoke.yml
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  mise.toml
  symlinks.txt
Due: markdownlint

ci: trust mise config before running tasks
  .github/workflows/macos-smoke.yml
Due: none

Path conditions:
  jsonlint: any of: \.json$
  markdownlint: any of: \.(md|markdown|mdown)$
