Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

jsonlint:
  name: jsonlint (json linter)
  entry: jsonlint
  language: system

markdownlint:
  name: markdownlint (markdown linter)
  entry: markdownlint
  language: system

wezterm: 設定の整理（重複キーバインド削除・死んだコメント削除・フォーマット統一）
  wezterm/background.lua
  wezterm/format.lua
  wezterm/keybinds.lua
  wezterm/status.lua
  wezterm/wezterm.lua
Due: none

docs/meta: ドキュメントとメタ設定の整合性を修正
  .typos.toml
  README.md
  mise/config.toml
  nvim/selene.toml
Due: markdownlint

nvim: 診断サイン上書きバグ修正と設定のクリーンアップ
  docs/CHEATSHEET.md
  nvim/init.lua
  nvim/lua/appearance.lua
  nvim/lua/extensions/gitsigns.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/lspconfig.lua
  nvim/lua/extensions/neo-tree.lua
  nvim/lua/keybinds.lua
  nvim/lua/options.lua
Due: markdownlint

nvim: 巨大ファイル対策の高速化と Spectre → grug-far 置き換え
  docs/CHEATSHEET.md
  nvim/init.lua
  nvim/lazy-lock.json
  nvim/lua/bigfile.lua
  nvim/lua/extensions/hlchunk.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-cmp.lua
  nvim/lua/extensions/nvim-lint.lua
  nvim/lua/extensions/nvim-treesitter.lua
  nvim/lua/extensions/nvim-ufo.lua
Due: jsonlint, markdownlint

fix: vim.diagnostic.jump の deprecated な float オプションを on_jump に置き換え
  nvim/lua/extensions/lspconfig.lua
Due: none

feat: モダン CLI ツール (zoxide/eza/bat/fd/jq) を導入し fzf 連携を設定
  README.md
  docs/CHEATSHEET.md
  homebrew/Brewfile
  zsh/.zshrc
Due: markdownlint

fix: EDITOR を vim から nvim に変更
  zsh/.zshenv
Due: none

feat: make install で新マシンのセットアップを冪等に一発化
  Makefile
  README.md
Due: markdownlint

ci: pre-commit 実行と macOS make link smoke test のワークフローを追加
  .github/workflows/macos-smoke.yml
  .github/workflows/pre-commit.yml
  Makefile
Due: none

feat: pre-commit に gitleaks を追加
  .pre-commit-config.yaml
  README.md
Due: markdownlint

docs: CLAUDE.md の pre-commit フック一覧に gitleaks を追記
  CLAUDE.md
Due: markdownlint

ci: issue 作成時に kenshin-morioka を自動アサインするワークフローを追加
  .github/workflows/auto-assign-issue.yml
Due: none

ci: Linuxbrew を brew shellenv で PATH に通して selene インストール失敗を修正
  .github/workflows/pre-commit.yml
Due: none

fix: nvim-treesitter を main ブランチへ移行し Neovim 0.12 の treesitter エラーを解消
  docs/CHEATSHEET.md
  homebrew/Brewfile
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-treesitter.lua
Due: jsonlint, markdownlint

docs: 既存 README の markdownlint 違反を修正
  cowsay/cows/README.md
  mise/README.md
  wezterm/README.md
Due: markdownlint

feat: .gitconfig をモダン化し delta を導入
  README.md
  git/.gitconfig
  homebrew/Brewfile
Due: markdownlint

docs: zdiff3 に必要な Git 最小バージョン (2.35+) を明記
  README.md
  git/.gitconfig
Due: markdownlint

feat: マシンローカル設定の仕組みを追加 (~/.zshrc.local と gitconfig includeIf)
  README.md
  git/.gitconfig
  zsh/.zshrc
Due: markdownlint

feat: シェル履歴ツール atuin を導入し fzf 履歴検索(Ctrl-R)を置き換え
  Makefile
  README.md
  atuin/config.toml
  docs/CHEATSHEET.md
  homebrew/Brewfile
  zsh/.zshrc
Due: markdownlint

zsh: antigen から sheldon にプラグイン管理を移行
  Makefile
  README.md
  homebrew/Brewfile
  sheldon/plugins.toml
  zsh/.zshrc
Due: markdownlint

feat: macos/defaults.sh にキーボード・Finder・スクリーンショット・.DS_Store・Dock の設定を追加
  README.md
  macos/defaults.sh
Due: markdownlint

feat: SSH クライアント設定の汎用部分を dotfiles 管理にする
  Makefile
  README.md
  ssh/config
Due: markdownlint

fix(neo-tree): neo-tree 上での :q でエディタ全体を終了する
  nvim/lua/extensions/neo-tree.lua
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

feat(nvim): current line blame をデフォルト ON にしコミッター名を表示
  docs/CHEATSHEET.md
  nvim/lua/extensions/gitsigns.lua
Due: markdownlint

fix(zsh): bindkey -e を sheldon より前に移動し abbr 展開を修復
  zsh/.zshrc
Due: none

fix(nvim): minified ファイルの超長行による treesitter フリーズを修正
  nvim/lua/bigfile.lua
  nvim/lua/extensions/nvim-treesitter.lua
Due: none

fix(nvim): hlchunk line_num の searchpair によるフリーズを修正
  nvim/lua/extensions/hlchunk.lua
Due: none

fix(nvim): filetype/リポジトリ単位でインデント幅を設定可能にする
  nvim/after/ftplugin/rust.lua
  nvim/lua/options.lua
Due: none

feat(nvim): telescope find_files で最近選択したファイルを上位表示
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/telescope.lua
Due: jsonlint

fix(nvim): telescope-all-recent を telescope 0.1.x 互換のコミットに固定
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
Due: jsonlint

fix(claude): settings.json symlink破損時の自動復元フックを追加
  .gitignore
  claude/hooks/restore_settings_symlink.sh
Due: none

feat(zsh): cargo run/build 用にfzzでバイナリを選択するショートカットを追加
  zsh/.zshrc
Due: none

docs: cgr/cgb をCHEATSHEETに追記
  docs/CHEATSHEET.md
Due: markdownlint

refactor(zsh): cgr/cgbをcrb/cgに再構成
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

refactor(zsh): crbをcargo metadataベースのbinターゲット列挙に変更
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

chore(nvim): nvim-web-devicons を更新
  nvim/lazy-lock.json
Due: jsonlint

Path conditions:
  jsonlint: any of: \.json$
  markdownlint: any of: \.(md|markdown|mdown)$
