Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

lazy updat
  nvim/lazy-lock.json
Due: jsonlint

Add GHA workflow to auto-assign PRs to repo owner
  .github/workflows/auto-assign-pr.yml
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

update brewfile
  homebrew/Brewfile
Due: none

背景修正
  wezterm/background.lua
Due: none

neo-tree: 起動時に自動で開かないように変更
  nvim/lua/extensions/neo-tree.lua
Due: none

lazy update&背景色の修正
  nvim/lazy-lock.json
  wezterm/background.lua
Due: jsonlint

feat: Claude Code の settings.json を dotfiles 管理に統一
  CLAUDE.md
  Makefile
  claude/statusline-command.sh
Due: markdownlint

feat: statusLine に 5時間レートリミットの使用率を追加
  claude/statusline-command.sh
Due: none

feat: lazy.nvim 更新を make でワンコマンド化
  Makefile
  docs/CHEATSHEET.md
Due: markdownlint

docs: lazy-update 系コマンドの記載を CHEATSHEET から README に移動
  README.md
  docs/CHEATSHEET.md
Due: markdownlint

feat: ウィンドウ幅を 5% 単位で調整するキーマップを追加
  docs/CHEATSHEET.md
  nvim/lua/keybinds.lua
Due: markdownlint

feat: h/l キーにも長押し加速を適用
  nvim/lua/extensions/accelerated-jk.lua
Due: none

feat: tmux を導入し Neovim ペインとの統合運用を整備
  Makefile
  README.md
  docs/CHEATSHEET.md
  homebrew/Brewfile
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/lspconfig.lua
  tmux/tmux.conf
  zsh/.zshrc
Due: jsonlint, markdownlint

fix: vim-tmux-navigator の Ctrl-l バインドを無効化しシェルクリアと共存
  README.md
  docs/CHEATSHEET.md
  tmux/tmux.conf
Due: markdownlint

Revert "fix: vim-tmux-navigator の Ctrl-l バインドを無効化しシェルクリアと共存"
  README.md
  docs/CHEATSHEET.md
  tmux/tmux.conf
Due: markdownlint

feat: Cmd+K で画面クリア / tma で全 tmux セッションを WezTerm タブで一括 attach
  README.md
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
  zsh/.zshrc
Due: markdownlint

chore: 無効化されている Cmd+K 追加を削除
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
Due: markdownlint

fix(tma): WezTerm のタブ名がリポジトリ名で解決されるよう cwd を引き継ぐ
  zsh/.zshrc
Due: none

feat(tmux): ステータスバーとボーダーの配色を WezTerm パレットに統一
  tmux/tmux.conf
Due: none

feat(zsh): cr/cl の abbreviation を追加
  README.md
  docs/CHEATSHEET.md
  zsh/.zshrc
Due: markdownlint

fix(tma): セッションごとの cwd 解決を list-panes ベースに修正
  zsh/.zshrc
Due: none

docs(cheatsheet): tmux 共存時の Shift マウス操作を追記
  docs/CHEATSHEET.md
Due: markdownlint

feat(nvim): add tmux-like pane resize with <leader>HJKL
  docs/CHEATSHEET.md
  nvim/lua/extensions/lspconfig.lua
  nvim/lua/keybinds.lua
Due: markdownlint

feat(nvim): keep HJKL resize repeating after first <leader> press
  docs/CHEATSHEET.md
  nvim/lua/keybinds.lua
Due: markdownlint

feat(wezterm): notify on Claude Code bell with toast and system sound
  wezterm/event.lua
Due: none

revert: drop wezterm-side Claude Code bell notification
  wezterm/event.lua
Due: none

feat(brew): add terminal-notifier for clickable notifications
  homebrew/Brewfile
Due: none

feat(claude): add agents/commands/hooks to symlink targets
  Makefile
  claude/agents/instruction-compliance-checker.md
Due: markdownlint

fix(claude): track hooks/ and drop --bare from compliance checker
  .gitignore
  claude/hooks/check_instruction_compliance.sh
  claude/hooks/self_review_reminder.sh
Due: none

feat(zsh): add tkr abbreviation to clear tmux-resurrect last snapshot
  README.md
  zsh/.zshrc
Due: markdownlint

fix(nvim): remove hlslens <Leader>L mapping conflicting with window resize
  nvim/lua/extensions/nvim-hlslens.lua
Due: none

docs(cheatsheet): consolidate tmux content into dedicated section
  docs/CHEATSHEET.md
Due: markdownlint
