Repository kenshin-morioka/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Lua
      - id: selene
        name: selene (lua linter)
        entry: selene
        language: system
        types: [lua]

      # Shell
      - id: shellcheck
        name: shellcheck (shell linter)
        entry: shellcheck
        language: system
        types: [shell]

      # JSON
      - id: jsonlint
        name: jsonlint (json linter)
        entry: jsonlint
        language: system
        types: [json]

      # Markdown
      - id: markdownlint
        name: markdownlint (markdown linter)
        entry: markdownlint
        language: system
        types: [markdown]

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

feat: insertモードでShift+Tabによるインデント削除を追加
  nvim/lua/extensions/nvim-cmp-actions.lua
Due: none

fix: diffview.nvimのスワップファイルエラーを修正
  nvim/lua/extensions/diffview.lua
  nvim/lua/options.lua
Due: none

lazy update
  nvim/lazy-lock.json
Due: jsonlint

Lazy updateとgitのHTTPをSSHに変換する設定
  git/.gitconfig
  nvim/lazy-lock.json
Due: jsonlint

fix: ビジュアル/セレクトモードでペースト時にクリップボードが上書きされる問題を修正
  nvim/lua/keybinds.lua
Due: none

feat: GitHubリンクをコピー・ブラウザで開く機能を追加
  nvim/lua/extensions/init.lua
Due: none

refactor: ,gpコマンドを削除し,goのみに変更
  nvim/lua/extensions/init.lua
Due: none

docs: チートシートにGitHubリンク機能を追加
  docs/CHEATSHEET.md
Due: markdownlint

Lazy update
  nvim/lazy-lock.json
Due: jsonlint

fix: nvim-ufo の diffview バッファでの index out of bounds エラーを修正
  nvim/lazy-lock.json
  nvim/lua/extensions/nvim-ufo.lua
Due: jsonlint

feat: Spectre の検索対象に隠しファイルを含めるよう設定
  nvim/lua/extensions/init.lua
Due: none

背景画像の非表示とcmatrixの無効化
  nvim/lazy-lock.json
  wezterm/background.lua
  zsh/.zshrc
Due: jsonlint

cmatrixと背景画像の有効化
  wezterm/background.lua
Due: none

fix: zsh シェルファイルの ShellCheck 警告を修正
  zsh/.zprofile
  zsh/.zshenv
  zsh/.zshrc
Due: none

feat: カラースキームを onenord から vscode.nvim (Dark+) に移行
  nvim/lazy-lock.json
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/lualine.lua
  nvim/lua/extensions/onenord.lua
  nvim/lua/extensions/vscode-theme.lua
Due: jsonlint

fix: nvim-ufo の diff バッファでの "index out of bounds" エラーを修正
  nvim/lua/extensions/nvim-ufo.lua
Due: none

fix: listchars に tab 表示文字を追加して ^I 表示問題を修正
  nvim/lua/options.lua
Due: none

feat: conform.nvim に Ruby 用フォーマッタ (rubocop) を追加
  nvim/lua/extensions/conform.lua
Due: none

lazy updateとluaファイルのリファクタ
  nvim/lazy-lock.json
  wezterm/background.lua
Due: jsonlint

feat: ruby-lsp の環境セットアップを改善
  homebrew/Brewfile
  nvim/docs/ruby-lsp-setup.md
  nvim/lua/extensions/lspconfig.lua
Due: markdownlint

refactor: ruby-lsp ドキュメントをルートの docs/ に移動
  docs/nvim/ruby-lsp-setup.md
Due: markdownlint

Lazy update
  claude/commands/self-review.md
  nvim/lazy-lock.json
Due: jsonlint, markdownlint

fix: DiffviewClose で vim が終了する問題と diffview タブで neo-tree が表示される問題を修正
  nvim/lua/extensions/diffview.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/neo-tree.lua
Due: none

背景画像の削除と背景を少し透過
  nvim/lazy-lock.json
  wezterm/background.lua
Due: jsonlint

feat: wezterm 背景透過トグル機能を追加（LEADER + b）
  docs/CHEATSHEET.md
  wezterm/background.lua
  wezterm/keybinds.lua
  wezterm/wezterm.lua
Due: markdownlint

fpsを120まであげる
  wezterm/wezterm.lua
Due: none

feat: wezterm 画面分割キーバインドを直感的なキーに変更
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
Due: markdownlint

fix: 画面分割キーバインドの縦横を修正
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
Due: markdownlint

remove: toggleterm プラグインと関連設定を削除
  docs/CHEATSHEET.md
  nvim/lazy-lock.json
  nvim/lua/extensions/dropbar.lua
  nvim/lua/extensions/init.lua
  nvim/lua/extensions/nvim-ufo.lua
  nvim/lua/extensions/toggleterm.lua
  nvim/lua/keybinds.lua
Due: jsonlint, markdownlint

Lazy updateと.claude/worktreesのignore
  .gitignore
  nvim/lazy-lock.json
Due: jsonlint

feat: wezterm ペインサイズ調整を25%単位に変更
  docs/CHEATSHEET.md
  wezterm/keybinds.lua
Due: markdownlint

feat: wezterm ペイン分割線をオレンジ色に変更
  wezterm/wezterm.lua
Due: none

feat: タブ移動キーバインド変更とPageUp/Down削除
  wezterm/keybinds.lua
Due: none
